body {
	font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body {
	min-width:100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size:10px;
}
h3{
	font-size:1.7em;
}
header {
	position: relative;
}

.logo {
	display: inline-block;
	width: 100vw;
	padding: 10px;
	border-bottom: solid 2px #aaa;
}

.logo img {
	display: inline-block;
	height: 36px;
	width: auto;
}

a {
	text-decoration: none;
}

i {
	color: #000;
}

.header-icon {
	position: absolute;
	top:0;
	display: block;
	margin: 10px;
	margin-left: calc(100vw - 135px);
}

.fa-twitter-square, .fa-envelope-square, .fa-line{
	font-size: 37px;
}

.fa-twitter-square {
	color: #1da1f3;
	margin-left: 7px;
}

.fa-envelope-square {
	color: #666;
	margin-left: 7px;
}

.fa-line {
	color: #00b900;
	margin-left: 7px;
}

.header-photo {
	position: relative;
	width:100vw;
	height: 300px;
	background-color: #aaa;
	background: -moz-linear-gradient(top, #7db9e8 12%, #7db9e8 12%, #1e5799 72%);
	background: -webkit-linear-gradient(top, #7db9e8 12%, #7db9e8 12%, #1e5799 72%);
	background: linear-gradient(to bottom, #7db9e8 12%, #7db9e8 12%, #1e5799 72%);
}

.header-message {
	position: absolute;
	width: 70vw;
	padding-left: 30px;
	font-size: 1.9em;
	font-weight: 700;
	bottom: 20px;
	color: #fff;
	opacity: 0.75;
	max-width: 545px;
}



.account-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 90%;
    margin: 20px auto 0;
    box-sizing: border-box;
    padding: 0 3%;
}
.account-group p {
    float: left;
}
.account-group__btn {
    margin-right: 3%;	
    width: 47%;
    margin-bottom: 15px;
}
.btn{
    display: block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
}
.account-group__btn .btn{
    width: 100%;
    box-sizing: border-box;
    font-size: 2.1em;
    line-height: 60px;
    height: 69px;
}
.account_btn{
    background-color: #0a6fd7;
    border: 2px solid #255cc3;
    background: -moz-linear-gradient(top, #0a6fd7, #0a6cd1);
    background: -webkit-linear-gradient(top, #0a6fd7, #0a6cd1);
    background: linear-gradient(to bottom, #0a6fd7, #0a6cd1);
}
.login_btn {
    background-color: #dab656;
    border: 2px solid #c8a33f;
    background: -moz-linear-gradient(top, #dab656, #d4b154);
    background: -webkit-linear-gradient(top, #dab656, #d4b154);
    background: linear-gradient(to bottom, #dab656, #d4b154);
}
.visitor{
    display: block;
    width: 100%;
    margin: 0 auto
}
.visitor .btn {
    height: 50px;
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.01em;
    line-height: 2.0em;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    width: 100%;
    padding: 9px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #0265cb;
}





#main p{
	line-height:1.5em;
	font-size:1.2em;
}



@media screen and (max-width: 360px) {
}


@media screen and (max-width: 370px) {
	.fa-twitter-square {
		font-size: 0;
		margin: 0;
	}
	.header-icon {
		margin-left: calc(100vw - 100px);
	}
}

@media screen and (max-width: 300px) {
	.fa-line {
		font-size: 0;
		margin: 0;
	}
	.header-icon {
		margin-left: calc(100vw - 50px);
	}

}


.major {
	position: relative;
	padding: 0.25em 0;
}

.major:after {
	content: "";
	display: block;
	height: 4px;
	background: -webkit-linear-gradient(to right, rgb(23, 46, 172), transparent);
	background: linear-gradient(to right, rgb(23, 46, 172), transparent);
}

.bg {
	padding: 30px;
	background: #004296;
	color: #fff;
}

.bg ul { 
	padding: 0;
}

.bg li {
	position: relative;
	list-style-type: none;
	border-bottom: solid 1px #698CFF;
	font-size: 14px;
	padding: 30px 0;
}

.bg li p {
	vertical-align: middle;
	padding-left: 30vw;
	height: 62px;
	margin: 0;
	font-size:1.0em !important;
}

.list-icon {
	position: absolute;
	display: block;
	width: 70px;
	text-align: center;
	left: 7vw;
}

.bg li i {
	top: 0px;
	color: #fff;
	font-size: 40px;
}

.list-icon .fa-male{
	font-size: 60px;
}
.list-icon .fa-user-tie {
	font-size: 50px;
}

.steps {
	position: relative;
}

.step {
	text-align: center;
	margin: 40px 0;
	min-height: 250px;
}

.stp, .stp-title{
	font-size:1.4em !imporatnt;
}
.stp {
	display: inline-block;
	background: rgb(23, 46, 172);
	background: linear-gradient(45deg, rgba(23, 46, 172, 1) 0%, rgba(9, 9, 121, 1) 100%);
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin: 40px 0;
}

.stp-title {
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	margin: 40px 0;
}

.stp-icons {
	position: relative;
	width: 40vw;
	margin: auto;
}

.stp-icons i {
	font-size: 70px;
}

.stp-icons .fa-calendar-alt {
	position: absolute;
	font-size: 60px;
	left: 10vw;
}

.stp-icons .stp1-2 {
	position: absolute;
	font-size: 80px;
	padding-top: 20px;
	left: 20vw;
}

.stp2-1 {
	position: absolute;
	left: 0;
	z-index: 100;
}

.stp2-2 {
	position: absolute;
	font-size: 10vw !important;
	left: 15vw;
	top: calc(15px - 2vw);
}

.stp2-3 {
	position: absolute;
	right: 0;
	z-index: 100;
}

.stp2-4 {
	position: absolute;
	left: 15vw;
	top: calc(70px - 3vw);
	font-size: 13vw !important;
}

.stp3-1 {
	position: absolute;
	left: 0;
	z-index: 100;
}

.stp3-2 {
	position: absolute;
	font-size: 10vw !important;
	left: 15vw;
	top: calc(15px - 2vw);
}

.stp3-3 {
	position: absolute;
	right: 0;
	z-index: 100;
}

.stp3-4 {
	position: absolute;
	left: 15vw;
	top: calc(80px - 3vw);
	font-size: 11vw !important;
}

.ex {
	padding-top: 140px;
}

.alt {
	border-top: solid #1e366a 1px;
	border-bottom: solid #1e366a 1px;
	padding: 0.5em 0 0.5em 1.5em;
}

.alt li {
	line-height: 1.5;
	padding: 0.5em 0;
}

.bg2 {
	padding: 30px;
}


.alfa {
	margin-top: 20px !important;
}

@media (max-height: 628px) {
	.header-photo {
		height: calc(100vh - 229px);
	}
}

@media screen and (min-width: 750px) {
	#main {
		width: 750px;
		margin: 0 calc(50vw - 375px);
	}
	.stp2-2, .stp2-4, .stp3-2, .stp3-4 {
		font-size: 70px !important;
		left: calc(20vw - 35px);
	}
	.stp2-4, .stp3-4 {
		top: 50px;
	}
}